body {
	margin: 0;
}
ul {
	list-style-type: none;
	margin: 0;
	padding: 0;
	overflow: hidden;
	background-color: #617798;
	position: fixed;
	top: 0;
	width: 100%;
}
li {
	float: left;
}
li a {
	display: block;
	color: white;
	text-align: center;
	padding: 14px 16px;
	text-decoration: none;
}
.heading {
	font-family: Tahoma;
	font-size: 30px;
}
.logout {
	font-size: 30px;
	font-family: "Calibri";
}
.lg_class:hover {
	background-color: #FFF;
	color: #617798;
}