.mainbodycontent {
	margin-left: 15%;
	margin-right: 15%;
	margin-top: 8%;
}
h3 {
	font-family: Tahoma;
	font-size: 150%;
	color: #595959;
}
span {
	color: #617798;
}
.disproomspan {
	font-size: 150%;
	font-family: Tahoma;
}
h4 {
	color: #617798;
	font-family: "Calibri";
	font-size: 120%;
}
.roombox {
	border: solid 2px #617798;
	margin-top: 20px;
	margin-bottom: 5%;
}
.roomboxheading {
	text-align: center;
	font-family: Tahoma;
}
.roomswitches {
	text-align: center;
	margin-bottom: 20px;
}
.off {
	background: grey;
}
.on {
	background: green;
}
.roomswitches input {
	color: white;
	border-radius: 10px;
	width: auto;
	padding: 5px 10px;
	border: 0;
}